body {
    font-family: 'Quicksand', sans-serif;
    color: azure;
    background-color: rgba(3, 8, 16, 0.75);
    transition: background-color 0.15s ease-in;
}

.hidden {
    display: none;
}

#game {
    margin: 15px auto;
}

#date {
    text-align: left;
}

#create-team {
    margin-bottom: 20px;
}

#create-form > .container {
    margin-top: 100px;
    background-color: #1d1e1f;
    border: 1px solid azure;
    margin-left: auto;
    margin-right: auto;
    color : azure;
    height: 210px;
    width: 600px;
    transition: opacity 0.15s ease-in;
}

#create-form > form {
    margin-top : 30px;
}

#backdrop {
    opacity: 0;
    transition: opacity 0.11s ease-in;
}

#team-name-btn {
    width: 100%;
}

#team-list > .row {
    margin-bottom: 25px;
}

#menu {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

#costs-description {
    margin-left: 5px;
    opacity: 0;
    transition: opacity 0.11s ease-in;
}

#costs-text {
    opacity: 0;
    transition: opacity 0.11s ease-in;
}

.text {
    font-size: 22px;
    font-weight: 500;
}

.player {
    border: 1px solid azure;
    border-radius: 4px;
    width: 64px;
    height: 64px;
}

.clearfix {
    display: inline-block;
    width: 100%;
}

.player-wrap {
    float: left;
    padding: 5px 10px;
}

.team-header {
    position: relative;
    text-align: center;
}

.team-body {
    text-align: center;
}

.team-close {
    position: absolute;
    top: -13px;
    right: 0;
    font-size: 26px;
    padding: 5px 10px;
    color: #f96666;
    transition: color 0.2s ease-in-out;
}

.team-close:hover {
    cursor: pointer;
    color: #942a2a;
}

.team {
    min-height: 180px;
    border: 4px solid azure;
    border-radius: 5px;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.2s ease-in-out;
}

.team:hover {
    background-color: rgba(240, 255, 255, 0.13);
}

.notification-text {
    font-size: 22px;
}

.notification-title {
    font-size: 28px;
    font-weight: 500;
}

.dtms-modal {
    color : #1d1e1f;
    display: block;
}

.costs-reveal {
    opacity: 1 !important;
}


.btn-team {
    padding: 50px 150px;
    font-size: 36px;
    text-transform: uppercase;
    border: 3px solid;
}

.modal-backdrop {
    opacity: 0.75 !important;
}